name: Deploy Web

on:
  push:
    branches: [main]
    paths:
      - "src/web/**"
      - ".github/workflows/web.yml"
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
          - prod

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.2.3"

      - name: Install dependencies
        working-directory: src/web
        run: bun install

      - name: Build
        working-directory: src/web
        run: bun run deploy
        env:
          API_BASE_URL: ${{ secrets.API_BASE_URL_DEV }}
          NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN: ${{ secrets.NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN_DEV }}

      - name: Log into Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: JaerenOlje-web-${{ github.event.inputs.environment || 'dev' }}
          slot-name: Production
          package: src/web/build/standalone
          startup-command: node server.js
